In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_csv("/content/sample_data/Indian Liver Patient Dataset (ILPD).csv",skiprows=1)
df.head()

   Age  Gender    TB   DB  Alkphos  Sgpt  Sopt   TP  ALB  A/G Ratio  Selector
0   65  Female   0.7  0.1      187    16    18  6.8  3.3       0.90         1
1   62    Male  10.9  5.5      699    64   100  7.5  3.2       0.74         1
2   62    Male   7.3  4.1      490    60    68  7.0  3.3       0.89         1
3   58    Male   1.0  0.4      182    14    20  6.8  3.4       1.00         1
4   72    Male   3.9  2.0      195    27    59  7.3  2.4       0.40         1

In [ ]:
df.isnull()

,Age,Gender,TB,DB,Alkphos,Sgpt,Sopt,TP,ALB,A/G Ratio,Selector
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
578,False,False,False,False,False,False,False,False,False,False,False
579,False,False,False,False,False,False,False,False,False,False,False
580,False,False,False,False,False,False,False,False,False,False,False
581,False,False,False,False,False,False,False,False,False,False,False
582,False,False,False,False,False,False,False,False,False,False,False

In [ ]:
df.isnull().sum()

Age          0
Gender       0
TB           0
DB           0
Alkphos      0
Sgpt         0
Sopt         0
TP           0
ALB          0
A/G Ratio    4
Selector     0
dtype: int64

In [ ]:
df.notnull().sum()

Age          583
Gender       583
TB           583
DB           583
Alkphos      583
Sgpt         583
Sopt         583
TP           583
ALB          583
A/G Ratio    579
Selector     583
dtype: int64

In [ ]:
df_drop = df.dropna()

In [ ]:
df_drop_col = df.dropna(axis=1)

In [ ]:
df['DB'] = df['DB'].fillna(df['DB'].mean())

In [ ]:
df['DB'] = df['DB'].astype(int)

In [ ]:
df.rename(columns={'DB': 'Db'}, inplace=True)

In [ ]:
df['Selector'] = df['Selector'].replace({'0': 'No', '1': 'Yes'})